.git
.gitignore
.env*
!.env.example
!.env.local
node_modules
.next
out
build
coverage
*.pem
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
*.tsbuildinfo
next-env.d.ts
.vercel
.hintrc
doc/
UI/
README.md
branch_structure.json
